<div class="ember-calendar-head">
  <button class="ember-calendar-head-previous" {{action "previous"}}>&laquo;</button>
  <div class="ember-calendar-head-dates">
    {{#each day in weekdays}}
    <div class="ember-calendar-head-date ember-calendar-head-week-date">
      <span class="name">{{format-date day 'ddd M/D'}}</span>
    </div>
    {{/each}}
  </div>
  <button class="ember-calendar-head-next" {{action "next"}}>&raquo;</button>
</div>
<div class="ember-calendar-container">
  <div class="ember-calendar-body">
    <div class="ember-calendar-head-times">
      {{#each hour in hours}}
        <div class="ember-calendar-head-time">
          <span class="name">{{format-date hour 'h a'}}</span>
        </div>
      {{/each}}
    </div>
  </div>
</div>
