<div class="ember-calendar-head">
  <div class="ember-calendar-head-dates">
    {{#each day in weekdays}}
      <div class="ember-calendar-head-date">
        <span class="name">{{format-date day}}</span>
      </div>
    {{/each}}
  </div>
</div>
<div class="ember-calendar-container">
  <div class="ember-calendar-body">
  </div>
<div>
